<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h4>Employee List</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email </th>
                  <th class="text-center">Action </th>
                </tr>
              </thead>
              <tbody>
                @for ( item of employeelist ; track $index ) {
                <tr>
                  <td> {{$index+1}}</td>
                  <td> {{item.name}}</td>
                  <td> {{item.contactNo}}</td>
                  <td> {{item.email}}</td>
                  <td class="mx-3">

                    <button class="btn btn-primary mx-3" (click)="onEdite(item)"> Edite </button>
                    <button class="btn btn-danger mx-3" (click)="onDelete(item.empid)"> Delete</button>


                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        <h4>New Empolyee</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row pt-2">
            <div class="col-6 ">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" name="Name" formControlName="name" required>
              <div class="text-danger">
                @if (employeeForm.controls['name'].touched ) {
                @if ( employeeForm.controls['name'].errors?.['required']) {
                <span class=""> Name Is Required</span>
                }
                }
              </div>
            </div>


            <div class="col-6">
              <label for="Email" class="form-label">Email</label>
              <input type="email" class="form-control" name="Email" formControlName="email" required>
              <div class="text-danger">
                @if (employeeForm.controls['email'].touched ) {
                @if ( employeeForm.controls['email'].errors?.['required']) {
                <span> Email Is Required</span>
                }@if ( employeeForm.controls['email'].errors?.['email']) {
                <span> Email Is xx</span>
                }


                }
              </div>
            </div>

            <div class="col-6">
              <label for="Contact No " class="form-label">Contact No </label>
              <input type="text" class="form-control" name="Contact No" formControlName="contactNo" required>
            </div>


            <div class="col-6">
              <label for="State" class="form-label">State</label>
              <input type="text" class="form-control" name="State" formControlName="state" required>
            </div>

            <div class="col-6">
              <label for="City" class="form-label">City</label>
              <input type="text" class="form-control" name="City" formControlName="city" required>
            </div>

            <div class="col-6">
              <label for="Pin code" class="form-label">Pin code</label>
              <input type="text" class="form-control" name="pincode" formControlName="pincode" required>
              <div class="text-danger">
                @if (employeeForm.controls['pincode'].touched ) {
                @if ( employeeForm.controls['pincode'].errors?.['required']) {
                <span> Pin code Is Required</span>
                }@if ( employeeForm.controls['pincode'].errors?.['minlength']) {
                <span> Pin code min 6 number </span>
                }


                }
              </div>
            </div>

            <div class="col-6">
              <label for="Address" class="form-label">Address</label>
              <textarea type="text" class="form-control" name="Address" formControlName="address" required></textarea>
            </div>
            <div class="row pt-2">
              <div class="col-6  text-center">
                <button class="btn btn-secondary"> Reset</button>
              </div>

              <div class="col-6  text-center">
                @if (employeeForm.controls['empid'].value=='1' ) {
                <button class="btn btn-success" [disabled]="employeeForm.invalid" (click)="onsave()">Save
                  Employee</button>

                }@else {
                <button class="btn btn-danger" [disabled]="employeeForm.invalid" (click)="onupdata()">Updata
                  Employee</button>
                }

              </div>


            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
